<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Welcome to Apple Inc Chatbot</h2>
    <button onclick="openGoogle()">Open Google</button>

    <script>
    function openGoogle(){
        window.open("https://www.google.com/", "_blank");
    }
    </script>
        <button onclick="openGradio">Open Gradio</button>

    <script>
    function openGradio(){
        window.open("https://89357f81d50c49c12d.gradio.live/", "_blank");
    }
    </script>

    <form action="/main" method="post">
        <input type = "submit" value="Main">
    </form>
    </div>
</body>




